/*Втори css файл*/
ul li { 
    color:#660000; 
    background-color:white; 
    list-style-type:disc; 
} 
 
ul li li { 
    color:#660000; 
    background-color:white; 
    list-style-type:circle 
} 

ol li { 
    color:#660000; 
    background-color:white; 
    list-style-type:upper-roman 
} 
 
ol li li { 
    color:#660000; 
    background-color:white; 
    list-style-type:lower-alpha 
} 