/*Първи css файл*/
h1 { 
    color:#000066; 
    background-color:white; 
    margin-left:100px; 
    text-align:center; 
    text-transform:uppercase 
} 

h2, h3 { 
    color:#000066; 
    background-color:white; 
    margin-left:100px; 
    text-align:left; 
    font-style:italic 
}

h4 { 
    color:#000066; 
    background-color:#d7d7d7; 
    font-size:12pt; 
    font-weight:bold; 
    font-style:normal 
} 

p { 
    color:#000066; 
    background-color:white; 
    text-indent:.5in; 
    line-height:1.5 
}

p a { 
    font-size:30px; 
    color:black; 
    background-color:#FFFFCC; 
}

.quote { 
    color:#000066; 
    background-color:white; 
    font-size:11pt; 
    font-style:italic; 
    line-height:normal 
}